:root {
    --card-per-dot: 4; 
}
.cards-cursos {
    background-color: #f0f0f0;
    padding-top: 55px;
    padding-bottom: 32px;
}

.titulo {
    margin-top: 40px;
    color: #009843;
    margin-left: 25px;
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 400;
}

.carousel-container {
    position: relative;
    width: 92%;
    padding: 50px;
    padding-top: 15px;
    padding-bottom: 25px;
    margin: 0 auto;
}

.carousel-wrapper {
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 6px;
    padding: 25px 15px;
    flex: 0 0 calc(88% / 4);
    border: 1px solid #ccc;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.card span:nth-child(1) {
    font-weight: bold;
    color: black;
    font-size: 18px;
}

.card span:nth-child(2) {
    margin-top: 8px;
    font-weight: 400;
}

.card span:nth-child(3) {
    border: 1px solid #009843;
    color: #009843;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 25px;
    width: 85px;
    text-align: center;
}

.card a {
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
}

#card-inscrevaSe {
    margin-top: 15px;
    font-weight: 700;
    border: 1px solid #009843;
    color: #009843;
    transition: background-color 1s ease-out;
}

#card-inscrevaSe:hover {
    background-color: #009843;
    color: #FFFFFF;
}

#card-saibaMais {
    font-weight: 700;
    border: 1px solid #7C939F;
    color: #7C939F;
    transition: background-color 0.3s ease-out;
}

#card-saibaMais:hover {
    background-color: #7C939F;
    color: #FFFFFF;
}

.prev,
.next {
    position: absolute;
    top: 43%;
    transform: translateY(-50%);
    background-color: #FFFFFF;
    color: rgb(110, 107, 107);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    padding-inline: 15px;
    z-index: 1;
}

.prev {
    left: 0;
}


.next {
    right: 0;
}

.dot-carousel{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot{
    cursor: pointer;
    margin-inline:10px ;
    height: 10px;
    width: 10px;
    border-radius: 20px;
    background-color: #b0b3b1;
}
.active-dot{
    background-color: #009843;
}
@media screen and (max-width: 1053px) {
    :root {
        --card-per-dot: 3; 
    }
    .card {
        flex: 0 0 calc(88% / 3);
    }
    .carousel-container {
        padding: 20px;
    }
}
@media screen and (max-width: 703px) {
    :root {
        --card-per-dot: 2; 
    }
    .card {
        flex: 0 0 calc(88% / 2);
    }
    .carousel-container {
        padding: 20px;
    }
}
@media screen and (max-width: 609px) {
    :root {
        --card-per-dot: 1; 
    }
    .card {
        flex: 0 0 calc(88% / 1);
        margin-inline: 6px;
    }
    .carousel-container {
        padding: 20px;
    }
}
